extends layout

block content
  div(ng-controller="UploadCtrl")
    div.row
      div.drop-box.col-md-4.col-md-offset-4(ngf-drop="uploadFiles($files)", ngf-drag-over-class="'dragover'", ngf-multiple="true", ngf-pattern="'text/csv'") Drop a CSV file here
      div.drop-box.col-md-4.col-md-offset-4(ngf-no-file-drop) File Drag/Drop is not supported for this browser
    div.row
      span.col-md-4.col-md-offset-4.progress(ng-show="progress >= 0")
        div(style="width:{{progress}}%", ng-bind="progress + '%'")
    div.row.text-center(style="height:20px")
    form.text-center
      div.form-group
        button.btn.btn-primary(type="button", ngf-select="uploadFiles($files)", multiple="multiple") Select Files
    form.form-inline.text-center(style="margin-bottom:15px")
      div.form-group
        label(for="primary_column", ng-show="header_loaded()") Field: &nbsp;
        select#primary_column.form-control(ng-model="primary_column", ng-options="obj.idx as obj.name for obj in csv_header_row_reduced", ng-show="header_loaded()", ng-change="primary_column_change()")
        button.btn.btn-info(style="margin-left:10px;", type="button", ng-show="header_loaded()", ng-click="addToPlotPrimary()") Add To Plot
        button.btn.btn-danger(style="margin-left:10px;", type="button", ng-show="header_loaded()", ng-click="removeFromPlotPrimary()") Remove From Plot
    //form.form-inline(style="padding-left:350px;")
    //  div.form-group
    //    label(for="secondary_column", ng-show="header_loaded()") Secondary Plot: &nbsp;
    //    select#secondary_column.form-control(ng-model="secondary_column", ng-options="obj.idx as obj.name for obj in csv_header_row_reduced", ng-show="header_loaded()", ng-change="secondary_column_change()")
    //    button.btn.btn-info(style="margin-left:10px;", type="button", ng-show="header_loaded()", ng-click="addToPlotSecondary()") Add To Plot
    //    button.btn.btn-danger(style="margin-left:10px;", type="button", ng-show="header_loaded()", ng-click="removeFromPlotSecondary()") Remove From Plot
    form.form-inline.text-center(style="margin-bottom:15px")
      div.form-group
        label(for="target_device", ng-show="header_loaded()") Target Device: &nbsp;
        select#target_device.form-control(ng-model="target_device", ng-options="obj.idx as obj.name for obj in target_devices", ng-show="header_loaded()", ng-change="target_device_change()")
        label.checkbox-inline
          | &nbsp; &nbsp;
          input(ng-model="use_max_for_peak_decent_start_value", type="checkbox", value="1", ng-show="header_loaded()")
          span(ng-show="header_loaded()") Use Max Values
        label(for="arpk", ng-show="header_loaded()") &nbsp;&nbsp; High Value: &nbsp;
        input#arpk.form-control(size="8", type="text", ng-disabled="use_max_for_peak_decent_start_value" ng-model="auto_regression_peak_decent_start_value", ng-show="header_loaded()")
        label(for="artr", ng-show="header_loaded()") &nbsp;&nbsp; Low Value: &nbsp;
        input#artr.form-control(size="8", type="text", ng-model="auto_regression_peak_decent_end_value", ng-show="header_loaded()")
        button.btn.btn-warning(style="margin-left:10px;", type="button", ng-show="header_loaded()", ng-click="automaticRegression()") Re-Calculate
    div.row(ng-show="at_least_one_regression()")
      div.col-md-12
        table.table.table-bordered
          tr
            th.text-center Device Name
            th.text-center Start Time
            th.text-center End Time
            th.text-center # Data Points
            th.text-center Observed ACH
              br
              span [per hour]
            th.text-center R
              sup 2
            th.text-center Concentration
              br
              span Half Life
              br
              span [minutes]
          tr(ng-repeat="item in regressions")
            td.text-center {{item.name}}
            td.text-center {{item.start_basis_moment.format('YYYY-MM-DD HH:mm:ss')}}
            td.text-center {{item.end_basis_moment.format('YYYY-MM-DD HH:mm:ss')}}
            td.text-center {{item.num_points}}
            td.text-center {{item.ACH.toFixed(2)}}
            td.text-center {{item.r_squared.toFixed(2)}}
            td.text-center {{item.concentration_half_life.toFixed(2)}}
          tr.info
            th
            td
            td
            td.text-right Average:
            td.text-center {{summary_stats.average_ACH.toFixed(2)}}
            td.text-center {{summary_stats.average_r_squared.toFixed(2)}}
            td.text-center {{summary_stats.average_concentration_half_life.toFixed(2)}}
          tr.info
            th
            td
            td
            td.text-right Std Dev P:
            td.text-center {{summary_stats.stdev_p_ACH.toFixed(2)}}
            td.text-center {{summary_stats.stdev_p_r_squared.toFixed(2)}}
            td.text-center {{summary_stats.stdev_p_concentration_half_life.toFixed(2)}}
          tr.info
            th
            td
            td
            td.text-right Rel Std Dev:
            td.text-center {{asPercent(summary_stats.rel_stdev_ACH)}}
            td.text-center {{asPercent(summary_stats.rel_stdev_r_squared)}}
            td.text-center {{asPercent(summary_stats.rel_stdev_concentration_half_life)}}
    div.row
      div#scatterplot.col-md-12(style="height: 600px;")

    div.row
      div#loglinear.col-md-12(style="height: 600px;")
