extends layout

block content
  div(ng-controller="UploadCtrl")
    div.row
      div.drop-box.col-md-4.col-md-offset-4(ngf-drop="uploadFiles($files)", ngf-drag-over-class="'dragover'", ngf-multiple="true", ngf-pattern="'text/csv'") Drop a CSV file here
      div.drop-box.col-md-4.col-md-offset-4(ngf-no-file-drop) File Drag/Drop is not supported for this browser
    div.row
      span.col-md-4.col-md-offset-4.progress(ng-show="progress >= 0")
        div(style="width:{{progress}}%", ng-bind="progress + '%'")
    form
      div.row.form-group
        div.col-md-12.text-center
          button.btn.btn-primary(style="margin-left:10px;", type="button", ngf-select="uploadFiles($files)", multiple="multiple") Select Files Dialog
      div.row.form-group
        div.col-md-5.col-md-offset-1.text-right
          span(ng-show="header_loaded()") Primary Plot: &nbsp;
          select.c-select(ng-model="primary_column", ng-options="obj.idx as obj.name for obj in csv_header_row_reduced", ng-show="header_loaded()", ng-change="primary_column_change()")
        div.col-md-5.text-left
          button.btn.btn-info(style="margin-left:10px;", type="button", ng-show="header_loaded()", ng-click="addToPlotPrimary()") Add To Plot
          button.btn.btn-danger(style="margin-left:10px;", type="button", ng-show="header_loaded()", ng-click="removeFromPlotPrimary()") Remove From Plot
      div.row.form-group
        div.col-md-5.col-md-offset-1.text-right
          span(ng-show="header_loaded()") Secondary Plot: &nbsp;
          select.c-select(ng-model="secondary_column", ng-options="obj.idx as obj.name for obj in csv_header_row_reduced", ng-show="header_loaded()", ng-change="secondary_column_change()")
        div.col-md-5.text-left
          button.btn.btn-info(style="margin-left:10px;", type="button", ng-show="header_loaded()", ng-click="addToPlotSecondary()") Add To Plot
          button.btn.btn-danger(style="margin-left:10px;", type="button", ng-show="header_loaded()", ng-click="removeFromPlotSecondary()") Remove From Plot
    div.row.form-group
      div.col-md-5.col-md-offset-1.text-right
        span(ng-show="header_loaded()") Target Device: &nbsp;
        select.c-select(ng-model="target_device", ng-options="obj.idx as obj.name for obj in target_devices", ng-show="header_loaded()", ng-change="target_device_change()")
    div.row(ng-show="at_least_one_regression()")
      div.col-md-12
        table.table.table-striped
          tr
            th Device Name
            th Start Time
            th End Time
            th # Data Points Used
            th Observed ACH [per hour]
            th R
              sup 2
            th Concentration Half Life [minutes]
          tr(ng-repeat="item in regressions")
            td {{item.name}}
            td {{item.start_basis_moment.format('YYYY-MM-DD HH:mm:ss')}}
            td {{item.end_basis_moment.format('YYYY-MM-DD HH:mm:ss')}}
            td {{item.num_points}}
            td {{item.ACH}}
            td {{item.r_squared}}
            td {{item.concentration_half_life}}
          tr
            th Average:
            td
            td
            td
            td {{summary_stats.average_ACH}}
            td {{summary_stats.average_r_squared}}
            td {{summary_stats.average_concentration_half_life}}
          tr
            th Std Dev P:
            td
            td
            td
            td {{summary_stats.stdev_p_ACH}}
            td {{summary_stats.stdev_p_r_squared}}
            td {{summary_stats.stdev_p_concentration_half_life}}
          tr
            th Rel Std Dev:
            td
            td
            td
            td {{summary_stats.rel_stdev_ACH}}
            td {{summary_stats.rel_stdev_r_squared}}
            td {{summary_stats.rel_stdev_concentration_half_life}}
    div.row
      div#scatterplot.col-md-12(style="height: 600px;")

    div.row
      div#loglinear.col-md-12(style="height: 600px;")
